---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/blog/">Blog</a>   

        <h2>ABOUT</h1>
		<h1>enréaliser x livelovelovelife x brokendreams x rocketscience?? x AAA+</h1>
            <p>We are a KReW of people wanting to present what we do</p>
            <p>This page isn´t going to be that experimental, rather reduced and describing and showing the pictures we like. 
                Next to that we want to keep track of our porjects with live on-record documentations of our processes. 
                It is for example to name Mosphits here. </p>
          </body>
	</body>
</html>
