---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		        <a href="/">Home</a>
                <a href="/about/">About</a>
                <a href="/blog/">Blog</a>

        <h2>BLOG</h1>
		<h1>enréaliser x livelovelovelife x brokendreams x rocketscience?? x AAA+</h1>
        <p>Here, we have our blog, it is getting updated chronologically and our first goal is to show our process in terms of the project Mosphits. </p>
          </body>
	</body>
</html>
