---
import BaseLayout from '../layouts/BaseLayout.astro';
import imm024_N24 from '/Users/borisschwarz/Desktop/blog/img/imm024_N24.jpg';
const pageTitle = "BLOG";
const text = "Here, we have our blog, it is getting updated chronologically and our first goal is to show our process in terms of the project Mosphits.";

---

<BaseLayout pageTitle = {pageTitle},
            text = {text}
>
    <img src="/Users/borisschwarz/Desktop/blog/img/imm024_N24.jpg" alt="A bird.">

    <ul>
        <li><a href="/posts/post-1/">Post 1</a></li>
        <li><a href="/posts/post-2/">Post 2</a></li>
        <li><a href="/posts/post-3/">Post 3</a></li>
    </ul>

</BaseLayout>







